/* General Styling */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #0D2A4B;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* same as DTR */
  padding-top: 20px;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.08) 1px, transparent 2px);
  background-size: 20px 20px;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Navigation */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav li {
  width: 100%;
}

.nav li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
}

.nav li a span {
  flex: 1; /* keeps text aligned with icon */
}

.nav li.active a {
  background: #326FC5;
  border-left: 4px solid #1abc9c;
}

.nav li a:hover {
  background: #1e3a8a;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  object-fit: contain;
}


.badge {
  background: #ff5252;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: auto;
}

/* Content */
.content {
  flex: 1;
  background-color: #d9d9d9;
  padding: 30px;
}

h1 {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
}


.table-container {
  background: white;         
  border-radius: 8px;                  
  max-width: 1250px;         
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.generate {
  background-color: #2E3BD8;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.generate:hover {
  background-color: #1a26a6;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #2E3BD8;
  color: white;
}

th, td {
  padding: 12px 15px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* Rounded corners on header */
thead th:first-child {
  border-top-left-radius: 8px;
}
thead th:last-child {
  border-top-right-radius: 8px;
}